language: android
jdk: oraclejdk8
sudo: true

android:
  components:
    - tools
    - platform-tools
    - build-tools-28.0.3
    - android-28
  licenses:
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'

install:
  - chmod +x apptest-ai.sh 
script: 
  - ./gradlew :app:assembledebug 
  - export binary_path=./app/build/outputs/apk/debug/app-debug.apk
  - export access_key=d0b20cd289994be0e423e2c42f4c09fe
  - export project_id='793'
  - ./apptest-ai.sh
