version: 2
jobs:
  build:
    docker:
    - image: circleci/android:api-28-alpha
    working_directory: ~/projects
    environment:
      JAVA_TOOL_OPTIONS: "-Xmx1024m"
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
      TERM: dumb
    steps:
    - checkout
    - run:
       command: ./gradlew :assemble
    - run:
       environment: 
        binary_path: ./app/build/outputs/apk/debug/app-debug.apk
        access_key: d0b20cd289994be0e423e2c42f4c09fe
        project_id: 793
        waiting_for_test_results: 'true'

       command: |
        serviceHost=https://api.apptest.ai
        apk_file_d='apk_file=@'\"${binary_path}\"
        data_d='data={"pid":'${project_id}',"test_set_name":"circleci_test"}'
        testRunUrl=${serviceHost}/test_set/queuing?access_key=${access_key}
        curl --write-out "HTTPSTATUS:%{http_code}" -X POST -F $apk_file_d -F $data_d ${testRunUrl}

