version: 2.1
description: 'build androd-sunfower app by circleci'

orbs:
  apptest-ai: apptestai/app-test@volatile

jobs:
  build:
    docker:
      - image: circleci/android:api-28-alpha
    steps:
      - checkout
      - run:
         command: ./gradlew assembledebug
      - apptest-ai/run-test:
         binary_path: app/build/outputs/apk/debug/app-debug.apk
         project_id: 
      - store_artifacts:
         path: test-results
      - store_test_results:
         path: test-results
