version: 2.1
description: 'first try'

orbs:
  apptest-ai: apptestai/android-app-test-saucelabs@dev:0.1.9

jobs:
  build:
    docker:
      - image: circleci/android:api-28-alpha
    steps:
      - checkout
      - run:
         command: ./gradlew assembledebug
      - apptest-ai/run-test:
         binary_path: app/build/outputs/apk/debug/app-debug.apk
      - store_artifacts:
         path: test-results
      - store_test_results:
         path: test-results
